@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,800');
/* Hellosaoha */
:root{
  --color-primary: #24252a;
  --color-light: #FFFFFF;
  --color-primary-rgb: 36, 37, 42;
  scroll-behavior: smooth;
}

*,*::after,*::before{
  margin: 0;
  padding: 0;
  transition: color .25s ease;
  font-family: "Montserrat";
}
html{
  font-size: 12px;
}
@media screen and (min-width:780px) {
  html{
    font-size: 16px;
  }
}

body{
  background-color: #24252a;
}


.container{
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  color: #FFFFFF;
  /* position: relati ve; */
}

@keyframes blink {
  0% { color: red; }
  100% { color: black; }
}
@-webkit-keyframes blink {
  0% { color: red; }
  100% { color: black; }
}
.blink {
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}