<!DOCTYPE html>
<html lang="en">
{% load humanize %}
{% load crispy_forms_tags %}
<head>
  {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'homepage/img/favicon.png'%}" type="image/icon type">
    <title>xScientist</title>
    <link rel="stylesheet" href="{% static 'homepage/bootstrap/css/bootstrap.min.css'%}">
    <script src="{% static 'homepage/bootstrap/js/bootstrap.bundle.min.js'%}"></script>


    <!-- Fontawsome -->
    <script src="https://kit.fontawesome.com/9248ccec10.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'homepage/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'homepage/css/hero.css'%}">
    <link rel="stylesheet" href="{% static 'homepage/css/product.css'%}">
    <link rel="stylesheet" href="{% static 'homepage/css/about.css'%}">
    <link rel="stylesheet" href="{% static 'homepage/css/technologies.css'%}">
    <link rel="stylesheet" href="{% static 'homepage/css/teams.css'%}">
    <link rel="stylesheet" href="{% static 'homepage/css/footer.css'%}">
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,800');
      /* @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,800'); */
      *{
        font-family: "Montserrat"; 
      }
      /* @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,800'); */
      #contact{
        border-radius: 8px;
        background-color: rgba(0,0,0,0.1);
      }
    </style>
</head>
<body class="bg-dark-theme">
    <header>
      <!-- <a href="#" class="btn visibl">Skip To Content.</a> -->
      <nav class="navbar navbar-expand-lg navbar-dark p-0 fixed-top bg-dark-theme">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="{% static 'homepage/img/logo_3.png'%}" height="60px" width="100px" alt="logo" class="icon">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto notification-badges">
              <li class="nav-item">
                <a class="nav-link px-3 active" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="#products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="#technologies">Technologies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="#team">Team</a>
              </li>
              <li class="nav-item" data-badge="open">
                <a class="nav-link px-3" href="#career">Career</a>
              </li>
            </ul>
            <a class="btn btn-primary bg-primary-theme rounded-pill px-4 btn-sm mb-3 mb-3 mb-sm-3 mb-lg-0 mb-xl-0" href="{% url 'login'  %}">Login</a>
          </div>
        </div>
      </nav>
    </header>
    <section class="container-fluid vh-100 d-grid position-relative mb-sm-3 mb-3" id="home">
      <canvas id="canvas" class="position-absolute w-100 h-100"></canvas>
        <div class="position-absolute top-50 start-50 translate-middle text-light text-center hero-div fw-bold">
            <p>MAKE</p>
            <div class="flips-container">
                <div class="flip-wrapper">
                    <p><span class="px-4">CODE</span></p>
                    <p><span class="px-4">LIFE</span></p>
                    <p><span class="px-4">STUDY</span></p>
                    <p><span class="px-4">EVERYTHING</span></p>
                </div>
            </div>
            <p>AWESOME!</p>
        </div>
    </section>

    <section class="container position-relative mb-sm-3 mb-3" id="products">
      <div class="container">
        <p class="fs-3 fw-bold text-light text-center mb-4">Products</p>
        <div class="row justify-content-center">

          <!-- Loop -->
          {% if work %}
            {% for project in work %}
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="product__container card1 m-5 m-lg-3">
                  <div class="product__card">
                    <div class="card_front">
                      <img src="{{project.image_url}}" alt="card">
                      <div class="float__panel">
                        <h4 class="fw-bolder">{{project.title}}</h4>
                      </div>
                    </div>
                    <div class="card_back">
                      <div class="float__panel fs-4">
                        <a href="#" target="_blank"><i class="fa-solid fa-globe"></i></a>
                        <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
             Please add team members
          {% endif %}
        </div>
      </div>
    </section>
    <section class="container position-relative mb-sm-3 mb-3" id="about">
      <p class="fs-4 fw-bold text-light mt-5 text-center">About</p>
      {% autoescape off %}{{ company.about }}{% endautoescape %}
      <div class="container my-5">
        <div class="row">
          <div class="col">
            <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
              <div class="timeline-step">
                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                  <div class="inner-circle"></div>
                  <p class="h6 mt-3 mb-1">2018</p>
                  <p class="h6 text-muted mb-0 mb-lg-0">Idea</p>
                </div>
              </div>
              <div class="timeline-step">
                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                  <div class="inner-circle"></div>
                  <p class="h6 mt-3 mb-1">2019</p>
                  <p class="h6 text-muted mb-0 mb-lg-0">Team Building</p>
                </div>
              </div>
              <div class="timeline-step">
                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2005">
                  <div class="inner-circle"></div>
                  <p class="h6 mt-3 mb-1">2020</p>
                  <p class="h6 text-muted mb-0 mb-lg-0">Collaboration</p>
                </div>
              </div>
              <div class="timeline-step">
                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2010">
                  <div class="inner-circle"></div>
                  <p class="h6 mt-3 mb-1">2021</p>
                  <p class="h6 text-muted mb-0 mb-lg-0">Prototyping</p>
                </div>
              </div>
              <div class="timeline-step mb-0">
                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                  <div class="inner-circle"></div>
                  <p class="h6 mt-3 mb-1">2022</p>
                  <p class="h6 text-muted mb-0 mb-lg-0">Startup Formation</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container position-relative mb-sm-3 mb-3" id="technologies">
      <p class="fs-4 fw-bold text-light mt-5 mb-4 text-center">Technologies</p>
      <div class="container">
        <div class="row justify-content-center">

          <!-- Loop -->
          {% if technology %}
            {% for tech in technology %}
              <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class="card bg-dark-theme border-2 border-secondary p-4 cursor-ponter">
                  <img src="{{tech.svg}}" alt="img" class="card-img"><div class="card-body p-0 text-center mt-2">
                  <div class="card-text">{{tech.name}}</div></div>
                </div>
              </div>
            {% endfor %}
          {% else %}
             Please add team members
          {% endif %}
        </div>
      </div>
    </section>
    <section class="container position-relative mb-sm-3 mb-3" id="team">
      <p class="fs-3 fw-bold text-light text-center mt-5">Team</p>
      <div class="container">
        <div class="row justify-content-center">
          <!-- Loop -->
          <!-- <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card border-0 rounded-3 overflow-hidden w-100 cursor-ponter">
              <img src="https://avatars.dicebear.com/api/male/john.svg?background=23000000" alt="user" class="card-img">
              <div class="card-img-overlay">
                <div class="card-body p-3 d-flex flex-column h-100">
                  <div class="card-title fw-bold">User Name</div>
                  <div class="catd-text d-flex mt-auto">
                    <a href="#" class="btn btn-sm"><i class="fa-solid fa-globe"></i></a>
                    <a href="#" class="btn btn-sm"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="btn btn-sm"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="btn btn-sm"><i class="fa-brands fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          {% if team %}
            {% for member in team %}
              <div class="col-10 col-sm-10 col-md-4 col-lg-3 mb-5 mx-2">
                <div class="member p-3 w-100" style="background-image:url('{{member.image_url}}');">
                  <h4 class="fw-bolder">{{member.name}}</h4>
                  <div class="icons">
                    <a href="{{member.website}}" target="_blank"><i class="fa-solid fa-globe"></i></a>
                    <a href="{{member.instagram}}" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="{{member.twitter}}" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="{{member.linkedin}}" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
             Please add team members
          {% endif %}
        </div>
      </div>
    </section>
    <section class="container position-relative mb-sm-3 p-5 px-5" id="contact">
      <p class="fs-3 fw-bold text-light text-center">Contact Us</p>
      <div class="row">
        <div class="col-12 col-lg-6">
          <form class="p-3 p-md-0" method="post" action="#">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email Address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="user@email.com" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="nameInput" class="form-label">Your Name</label>
              <input type="text" class="form-control" id="nameInput" name="name" placeholder="fullname">
            </div>
            <div class="mb-3">
              <label for="floatingTextarea2" class="form-label">Message</label>
              <div class="form-floating">
                <textarea name="message" class="form-control text-dark" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2" class="text-dark">Comments</label>
              </div>
            </div>
<!--            <div class="mb-3 form-check">-->
<!--              <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--              <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--            </div>-->
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
        <div class="col-12 col-lg-6">
<!--          <img src="https://imgs.search.brave.com/eAmeheBrOQXb9UMvM3xW0HBk-ezdf2Bsa1UC9zdPbI0/rs:fit:780:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5s/QVR2SzZuczVmTWhC/Y3pvRzdQUEJBSGFF/ZyZwaWQ9QXBp" alt="demo" class="img-responsive w-100">-->
                    <iframe style="border: none;filter: invert(90%);width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1876.1147400310576!2d75.3561281148592!3d19.872529647112106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdba291ff049cc3%3A0xfd49ceb71392bf63!2sBombay%20High%20Court%20Aurangabad%20Bench!5e0!3m2!1sen!2sin!4v1656699669185!5m2!1sen!2sin" width="400" height="400" style="border:0;" allowfullscreen="none" loading="lazy"></iframe>
        </div>
      </div>
    </section>
    <!-- <footer class="container-fluid bg-dark">
      <div class="container p-5">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6">
            <div class="footer_header">
              <h3 class="color-primary-theme fw-bold">xScientist</h3>
              <div class="address">
                <b>Location</b>
                <p class="m-0">22,Lorem ipsum dolor sit amet.</p>
                <p class="m-0">icon and (988)302-222</p>
                <p class="m-0">icon email@domain.com</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <div class="footer_links">
              <h4>Links</h4>
              <ul class="p-0">
                <li><a class="px-3 py-1 nav-link link-info" href="#hero">Home</a></li>
                <li><a class="px-3 py-1 nav-link link-info" href="#products">Products</a></li>
                <li><a class="px-3 py-1 nav-link link-info" href="#about">About</a></li>
                <li><a class="px-3 py-1 nav-link link-info" href="#teams">Team</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer> -->
    <footer class="footer">
      <div class="footer_flex">
        <div class="footer_header">
          <h3 class="fw-bolder">{{company.name}}</h3>
          <div class="address">
            <b>ADDRESS</b>
            {% autoescape off %}{{ company.address }}{% endautoescape %}
            <b>EMAIL</b>
            <p class="m-0">{{company.email}}</p>
          </div>
        </div>
        <div class="footer_links">
          <h3 class="fw-bolder">Links</h3>
          <ul class="p-0">
            <li>-<a class="link-light" href="#home">Home</a></li>
            <li>-<a class="link-light" href="#products">Products</a></li>
            <li>-<a class="link-light" href="#about">About</a></li>
            <li>-<a class="link-light" href="#team">Team</a></li>
          </ul>
        </div>
      </div>
<!--      <p class="footer_copyright m-0">COPYRIGHT © 2021-2018. ALL RIGHTS RESERVED. SCANFCODE</p>-->
    </footer>
  </body>
  <script src="{% static 'homepage/js/main.js'%}"></script>
</html>