#home .hero-div{
    font-size: xx-large;
}
.flips-container{
    overflow: hidden;
    height: 64px;
}
.flips-container .flip-wrapper{
    position: relative;
    animation: anim-text 6s ease infinite;
}
.flips-container .flip-wrapper p span{
    display: inline-block;
}
.flips-container .flip-wrapper p:nth-child(4n+1) span{
    background-color:var(--primary);
}
.flips-container .flip-wrapper p:nth-child(4n+2) span{
    background-color:var(--danger);
}
.flips-container .flip-wrapper p:nth-child(4n+3) span{
    background-color:var(--success);
}
.flips-container .flip-wrapper p:nth-child(4n+4) span{
    background-color:var(--warning);
}
@keyframes anim-text {
    0%      { bottom:       0px; }
    2.5%    { bottom:      64px; }
    22.5%   { bottom:     64px; }
    27.5%   { bottom:     128px; }
    47.5%   { bottom:     128px; }
    52.5%   { bottom:     192px; }
    72.5%   { bottom:     192px; }
    77.5%   { bottom:     00px; }
    97.5%   { bottom:       00px; }
}